

	<ion-header-bar class="bar bar-positive">
		<h1 class="title">Home</h1>
		<div class="item-avatar " >
			<img src="{{photo}}" height="150px">
		</div>

	</ion-header-bar>

	<ion-content  class="has-footer">
		<ion-refresher
		pulling-text="Pull to refresh..."
		on-refresh="doRefresh()">
	</ion-refresher>
	<!-- <div style="display: flex">
    <div class="item item-avatar " >
      <img src="{{photo}}" height="150px">
    </div>
		<div>
			<h2 class="pageheader title">Welcome {{displayName}}</h2>
		</div>
 -->
	</div>

	<div class="row" >
		<div class="col" id="messages">
			<div id="one">
			</div>

		</div>
	</div>

</ion-content>
<div class="myfooter">
	<div class="item item-input-inset">
		<label class="item-input-wrapper">
			<input type="text" placeholder="type" id="msgbox" ng-model="msg" clear-input />

		</label>
		<button class="button button-small button-positive " ng-click="addMessage()">
			send
		</button>
	</div>
	<div class="item item-input-inset">
		<label class="item-input-wrapper">
			<input type="file" name="photo" id="fileToUpload"  file-model="myPhoto" accept="image/*"    />

		</label>
		<button class="button button-small button-assertive " ng-click="handleFile()">Upload</button>
	</div>
</div>



<script>
	$(document).ready(function(){
		$('.collapsible').collapsible({
			accordion : false
		});
	});
</script>
